<link rel="icon" href="{{ "/favicon.ico" | relative_url }}" type="image/x-icon">

<link rel="icon" href="{{ "/assets/images/favicon.ico" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">

<meta name="theme-color" content="#222">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-25PDJ8VRNT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-25PDJ8VRNT');
</script>
